.subunit.SCT {
    fill: #c2e9ff;
}

.subunit.WLS {
    fill: #e4d6e1;
}

.subunit.NIR {
    fill: #ccf3a7;
}

.subunit.ENG {
    fill: #b4eeb2;
}

.subunit.IRL {
    display: none;
}


.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
}

.subunit-boundary.IRL {
    stroke: #aaa;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    pointer-events: none;
}

.place,
.place-label {
    fill: #5f33c5;
}


.place-label-circle {
    fill: #f71818;
}

.place-label-circle:hover {
    fill: #3b088d;
}

.subunit-label {
    fill: #ddcb25;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
}


.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* .container-narrow>hr {
    margin: 30px 0;
} */


/* Remove the padding we set earlier */
/* .header,

.footer {
    padding-left: 0;
    padding-right: 0;
}

.header {
    margin-bottom: 30px;
} */